services:
  navidrome:
    image: docker.io/deluan/navidrome:0.58.5
    ports:
      - ${NAVIDROME_PORT:-4533}:4533
    restart: unless-stopped
    environment:
      TZ: ${TZ}
      ND_CONFIGFILE: "/data/navidrome.toml"
      ND_MUSICFOLDER: "/music"
    volumes:
      - type: bind
        source: ./data
        target: /data
      - type: bind
        source: ${MISIC_DIR}
        target: /music
        read_only: true
    env_file:
      - .env
  airsonic:
    image: docker.io/tamland/airsonic-refix:sha-5910e6f
    ports:
      - ${AIRSONIC_PORT:-4534}:80
    restart: unless-stopped
    environment:
      TZ: ${TZ}
      SERVER_URL: ${AIRSONIC_SERVER_URL:-""}
