services:
  navidrome:
    image: docker.io/deluan/navidrome:0.60.2
    ports:
      - ${NAVIDROME_PORT:-4533}:4533
    restart: unless-stopped
    environment:
      TZ: ${TZ}
      ND_CONFIGFILE: /data/navidrome.toml
      ND_MUSICFOLDER: /music
    volumes:
      - type: bind
        source: ./data
        target: /data
      - type: bind
        source: ${MISIC_DIR}
        target: /music
        read_only: true
    env_file:
      - .env
  feishin:
    image: ghcr.io/jeffvli/feishin:1.6.0
    ports:
      - ${FEISHIN_PORT:-9180}:80
    restart: unless-stopped
    environment:
      TZ: ${TZ}
      SERVER_NAME: navidrome
      SERVER_LOCK: true
      SERVER_TYPE: navidrome
      LEGACY_AUTHENTICATION: false
      ANALYTICS_DISABLED: true
